In [50]:
import pandas as pd 
import requests

In [51]:
historicalBTC = requests.get('https://ftx.com/api/markets/BTC/USD/candles?resolution=300&start_time=1593561600&end_time=1625097600').json()

In [52]:
historicalETH = requests.get('https://ftx.com/api/markets/ETH/USD/candles?resolution=300&start_time=1593561600&end_time=1625097600').json()

Import the spot prices of BTC and ETH from FTX exchange from 1 July 2020 to 1 July 2021 in OHLCV form in 5 minute intervals

In [53]:
historicalBTC = pd.DataFrame(historicalBTC['result'])

In [54]:
historicalETH = pd.DataFrame(historicalETH['result'])

In [55]:
historicalBTC.head()

,startTime,time,open,high,low,close,volume
0,2021-06-25T19:00:00+00:00,1.624648e+12,32080.0,32133.0,32006.0,32037.0,9.751184e+05
1,2021-06-25T19:05:00+00:00,1.624648e+12,32039.0,32072.0,31744.0,31799.0,2.606258e+06
2,2021-06-25T19:10:00+00:00,1.624648e+12,31799.0,32163.0,31799.0,32105.0,1.793975e+06
3,2021-06-25T19:15:00+00:00,1.624648e+12,32105.0,32407.0,32105.0,32378.0,4.321523e+06
4,2021-06-25T19:20:00+00:00,1.624649e+12,32383.0,32470.0,32313.0,32337.0,2.579071e+06

In [56]:
historicalETH.head()

,startTime,time,open,high,low,close,volume
0,2021-06-25T19:00:00+00:00,1.624648e+12,1838.6,1844.9,1834.0,1836.1,5.761444e+05
1,2021-06-25T19:05:00+00:00,1.624648e+12,1836.1,1837.2,1826.6,1827.6,9.442661e+05
2,2021-06-25T19:10:00+00:00,1.624648e+12,1827.6,1847.1,1827.6,1843.7,7.120486e+05
3,2021-06-25T19:15:00+00:00,1.624648e+12,1843.7,1855.8,1843.2,1855.2,1.461957e+06
4,2021-06-25T19:20:00+00:00,1.624649e+12,1855.2,1870.0,1855.1,1861.1,4.190453e+06

In [57]:
historicalBTC['Return']=historicalBTC['close']-historicalBTC['open']

In [58]:
historicalETH['Return']=historicalETH['close']-historicalETH['open']

Add in columns to BTC and ETH data calculating the return for every 5 minutes as the difference between the opening and closing values

In [59]:
averageBTC = historicalBTC['Return'].mean()

In [60]:
averageETH = historicalETH['Return'].mean()

Calculate the average of the returns for BTC and ETH

In [61]:
historicalBTC['Port_vs_Bench']= historicalBTC['Return']-averageETH

Add a column of the difference between the BTC values and the average of the ETH (the benchmark value)

In [62]:
trackingerror = historicalBTC['Port_vs_Bench'].std()

Calculate the std devatiation of these differences

In [63]:
information_ratio = (averageBTC - averageETH)/trackingerror

Calculate the information ratio as the difference between the mean of ETH and BTC divided by the trakcing error calculated above

In [64]:
print(information_ratio)

0.017263604667459295